@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;


    /* column flexbox for footer */
    min-height:100vh;
    display:flex;
    flex-direction:column;
    margin-top:auto;

    font-family: 'Montserrat', sans-serif;

    background-color: rgb(65,100,255);
    color:white;
}
body *::selection {
    color: rgb(65,100,255);
    background-color:white;
}

header {
    display:flex;
    justify-content: space-between;
    align-items:center;

    /* appearance */
    color:rgb(65, 100, 255);
    background-color:white;
    padding:1.5em;
    padding-left: 2em;
    padding-right: 2em;
}
header *::selection {
    color:white;
    background-color: rgb(65,100,255);
}
footer {
    margin-top:auto;
    display: flex;
    align-items:center;
    justify-content:space-between;
    margin-left: 2.5em;
    margin-right:2.5em;
    margin-bottom:1.5em;
}
a {
    text-decoration: none;
}

/**/

header nav ul li {
    display: inline-block;
}
header a {
    color: rgb(55,90,235);
    font-weight:800;
    font-size:24pt;
}
header nav li {
   padding-right:0.5em; 
}
header nav a {
    font-weight:600;
    font-size: 14pt;
}

section h2 {
    font-size: 32px;
}
section {
    padding:5em;
}

.photodesc {
    display:flex;
    justify-content: space-between;
}

.photodesc img {
    height: 24em;
    width: 24em;
}

.photodesc .left,.photo {
    display:inline-block;
}
.photodesc .photo {
    align-items:baseline;
}
.photo {
    margin-left: 10em;
}
.photodesc .left {
    display:flex;
    flex-direction:column;
}

.photodesc .left .bottom {
    margin-top:auto;
}

.left ul li strong {
    padding: 0.25em;
    background-color:rgb(65,120,255);
}
.left ul {
    padding:0;
    margin:0;
    display: flex;
}
.left ul li {
    list-style-type: none;
    margin-right:1em;
}

.contact-button {
    background-color:white;
    color: rgb(55,90,235);
    padding:0.5em;
    font-weight:600;
}
